.flexForm {
    width: 20%;
    align-items: center;
}
.jumbotron {
    background-color: transparent;
}
body{
    height: 100vh;
    background-image: url('http://i.imgur.com/WdJLMuJ.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.flex {
    display: flex;
    flex-direction: column;
}
